@model MyPortfolio.Models.ViewModels.GuestBookVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Guest Book Entry Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestBook.GuestBookFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestBook.GuestBookFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestBook.GuestBookLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestBook.GuestBookLastName)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestTypeCreatedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestTypeCreatedDateTime)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?GuestBook.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
